body {
  background-color: #000;
  color: #f8ffe5;
font-family: 'Open Sans Condensed', sans-serif;
}

nav.navbar {
  padding: 0 16px;
  width: 100%;
  height: 50px;
  border-bottom-color: #f8ffe5;
  border-bottom-width: thin;;
  border-bottom-style: solid;
  font-family: 'Sacramento', cursive;
}
a.logo {
  text-align: left;
  padding: 50px 20px;
  color: #ef767a;
  font-size: 36px;
}
nav ul {
  text-align: right;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  padding: 0px 15px;
  font-size: 20px;
}

nav li a {
  color: #23b5d3;
  text-decoration: none;
}

nav li a:hover {
  color: #f8ffe5;
  text-decoration: none;
}

a {
  color: #456990;
  text-decoration: none;
}

a:hover {
  color: #ef767a;
  text-decoration: underline;
  text-decoration-color: #f8ffe5;
}


p strong {
  color: #49beaa;
}

.about-me {
  text-align: center;
  margin: 30px;
  padding-left: 275px;
  padding-right: 275px;
  font-size: 24px;
}
